server:
  port: 8080

spring:
  application:
    name: wandertrail-gateway-service
    
  config:
    import: "optional:consul:"
  
  cloud:
    # Đăng kí gateway service với Consul
    consul:
      # Địa chỉ của Consul agent chạy trên docker 
      host: localhost
      # Port mặc định của Consul trong docker
      port: 8500
      discovery:
        enabled: true
        register: true
        hostname: localhost
        port: ${server.port}
        service-name: ${spring.application.name}
        health-check-url: http://host.docker.internal:${server.port}/actuator/health
        health-check-interval: 15s
        health-check-timeout: 10s
      config:
        enabled: true
        prefixes: 
          - config #default Spring auto find /config so key starts with config/
          # - keys # additional prefix keys
        # name: ${spring.application.name}
        format: YAML
        default-context: application # This is default context use for all services user Consul config
        profile-separator: ','

    # Cấu hình API Gateway
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true
          routes:
            - id: user-service
              uri: lb://wandertrail-user-service
              # uri: http://localhost:8081
              predicates:
                - Path=/api/v1/users/**, /api/v1/auth/**
              filters:
                - StripPrefix=0
management:
  endpoints:
    web:
      exposure:
        include: health, info
# logging:
#   level:
#     org.springframework.cloud.gateway: DEBUG
          
