server:
  port: 8081
spring:
  application:
    name: wandertrail-user-service
  security:
    user:
      name: 
      password:
    # enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5432/wandertrail-user-service-db
    username: root
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true
        service-name: ${spring.application.name}
        health-check-path: /actuator/health
        health-check-interval: 30s
management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    db:
      enabled: true
# Profiles (nếu muốn tách dev/prod)
# spring:
#   profiles:
#     active: dev
